<div class="container my-4">

  <!-- Header -->
  <div class="row mb-4">
    <h5 class="col-sm-6">Monthly Summary</h5>
    <!-- Goto Time Entry Page -->
    <div class="col-sm-6">
      <button type="button" class="btn btn-sm btn-secondary float-sm-end" [routerLink]="['..']">
        Add Time Entry
      </button>
    </div>
  </div>

  <!-- Month Picker -->
  <div class="row mb-2">
    <div class="col-6 col-sm-3">
      <select class="form-select" [(ngModel)]="selectedMonth" (ngModelChange)="setMonthFilter()">
        <option *ngFor="let month of months" [ngValue]="month.value">{{ month.label }}</option>
      </select>
    </div>
  </div>

  <!-- Summary Table -->
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Duration</th>
            <th scope="col">Subject</th>
            <th scope="col">Activity</th>
            <th scope="col">Comments</th>
            <th scope="col">Attachment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of visibleTimeEntries">
            <td>{{ entry.startTime | date:'MM-dd' }}</td>
            <td>{{ entry.startTime | date:'HH:mm' }}</td>
            <td>{{ entry.endTime | date:'HH:mm' }}</td>
            <td>{{ getDuration(entry) }}</td>
            <td>{{ entry.subject }}</td>
            <td>{{ entry.activity }}</td>
            <td>{{ entry.comments }}</td>
            <td>
              <i *ngIf="entry.attachment" class="fas fa-paperclip"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-5">
    <!-- Current Discount Calculations -->
    <div class="col-lg-3 col-6 mb-3">
      <div class="border px-3 py-2">
        <table class="table table-sm table-borderless mb-1">
          <tbody>
            <tr *ngIf="(selectedMonth == NOW.month)">
              <th scope="row">Hrs this Week</th>
              <td>{{ currentHrsPerWk }}</td>
            </tr>
            <tr>
              <th scope="row">Hrs this Month</th>
              <td>{{ currentHrsPerMnth }}</td>
            </tr>
            <tr>
              <th scope="row">Rent Discount</th>
              <td class="text-danger">{{ currentDiscount }}</td>
            </tr>
            <tr>
              <th scope="row">Amount Owing</th>
              <td>{{ "$" + currentRent }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Discount Values Table -->
    <div class="col-md-6 offset-lg-3">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Discount</th>
            <th scope="col">Rent</th>
            <th scope="col">Hrs / Week</th>
            <th scope="col">Hrs / Month</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of discountTableEntries" [class.extra-tier]="entry.isExtraTier">
            <td class="text-danger">{{ entry.discount }}</td>
            <td>{{ "$" + entry.rent }}</td>
            <td>{{ entry.hrsPerWk }}</td>
            <td>{{ entry.hrsPerMnth }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
