<div class="container my-4">

  <!-- Header -->
  <div class="row mb-2">
    <h5 class="col-sm-6">Time Entry</h5>
    <!-- Goto Monthly Summary Page -->
    <div class="col-sm-6">
      <button type="button" class="btn btn-sm btn-secondary float-sm-end" [routerLink]="['month']">
        View Monthly Summary
      </button>
    </div>
  </div>

  <!-- Submission Success Message -->
  <div *ngIf="submitted" class="row mb-2">
    <div class="col-sm-6">
      <span>New Entry Submitted</span>
    </div>
  </div>

  <!-- Page Form -->
  <div *ngIf="!submitted" class="row mb-2">
    <form class="col-sm-6" novalidate [formGroup]="newEntryForm" (ngSubmit)="submitForm()" autocomplete="off">
      <!-- Subject -->
      <div class="form-group mb-3">
        <label class="form-label required">Subject</label>
        <input type="text" required class="form-control" formControlName="subject" />
        <!-- subject errors -->
        <div *ngIf="newEntryForm.controls.subject.errors && newEntryForm.controls.subject.touched"
          class="small form-text text-danger">
          <div *ngIf="newEntryForm.controls.subject.errors.required">
            Subject is required
          </div>
        </div>
      </div>
      <!-- Activity -->
      <div class="form-group mb-3">
        <label class="form-label required">Activity</label>
        <input type="text" required class="form-control" formControlName="activity" />
        <!-- activity errors -->
        <div *ngIf="newEntryForm.controls.activity.errors && newEntryForm.controls.activity.touched"
          class="small form-text text-danger">
          <div *ngIf="newEntryForm.controls.activity.errors.required">
            Activity is required
          </div>
        </div>
      </div>
      <!-- Comments -->
      <div class="form-group mb-3">
        <label class="form-label">Comments</label>
        <textarea class="form-control" rows="3" formControlName="comments" autocomplete="off" list="autocompleteOff">
        </textarea>
      </div>
      <!-- Entry Date -->
      <div class="form-group mb-3">
        <label class="form-label required">Date</label>
        <div class="input-group">
          <input id="entryDate" required class="form-control" placeholder="YYYY-MM-DD" formControlName="entryDate"
            ngbDatepicker #dp="ngbDatepicker" [minDate]="datePickerStart" [maxDate]="datePickerEnd"
            [navigation]="'arrows'" maxlength="12" autocomplete="off" list="autocompleteOff" />
          <div id="calendar-button" class="input-group-text" (click)="dp.toggle()">
            <i class="fas fa-calendar-alt" aria-hidden="true"></i>
          </div>
        </div>
        <!-- entry date errors -->
        <div *ngIf="newEntryForm.controls.entryDate.errors && newEntryForm.controls.entryDate.touched"
          class="small form-text text-danger">
          <div *ngIf="newEntryForm.controls.entryDate.errors.required">
            Date is required
          </div>
          <div *ngIf="newEntryForm.controls.entryDate.errors.outOfRange">
            Date is out of range
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start Time -->
        <div class="form-group mb-3 col-sm-6">
          <label class="form-label required">Start Time</label>
          <ngb-timepicker formControlName="startTimestamp" [meridian]="true" [spinners]="false" [minuteStep]="15">
          </ngb-timepicker>
          <!-- start time errors -->
          <div *ngIf="newEntryForm.controls.startTimestamp.errors && newEntryForm.controls.startTimestamp.touched"
            class="small form-text text-danger">
            <div *ngIf="newEntryForm.controls.startTimestamp.errors.required">
              Start Time is required
            </div>
            <div *ngIf="newEntryForm.controls.startTimestamp.errors.outOfRange">
              Start Time is out of range
            </div>
            <div *ngIf="newEntryForm.controls.startTimestamp.errors.afterEndTime">
              Start Time must be before End Time
            </div>
          </div>
        </div>
        <!-- End Time -->
        <div class="form-group mb-3 col-sm-6">
          <label class="form-label required">End Time</label>
          <ngb-timepicker formControlName="endTimestamp" [meridian]="true" [spinners]="false" [minuteStep]="15">
          </ngb-timepicker>
          <!-- end time errors -->
          <div *ngIf="newEntryForm.controls.endTimestamp.errors && newEntryForm.controls.endTimestamp.touched"
            class="small form-text text-danger">
            <div *ngIf="newEntryForm.controls.endTimestamp.errors.required">
              End Time is required
            </div>
            <div *ngIf="newEntryForm.controls.endTimestamp.errors.outOfRange">
              End Time is out of range
            </div>
          </div>
        </div>
      </div>
      <!-- Attachment -->
      <div class="form-group mb-3">
        <label class="form-label">Attachment</label>
        <input class="form-control" type="file" formControlName="attachment">
      </div>

      <!-- Submit Button -->
      <div class="form-group mt-4 mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

</div>
